/* ------------FIRST---------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------FONTS--------------- */
@font-face {
    font-family: "Inter";
    src: url(./../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "Gilda Display";
    src: url(./../fonts/GildaDisplay-Regular.ttf);
}
@font-face {
    font-family: "Urbanist";
    src: url(./../fonts/Urbanist-VariableFont_wght.ttf);
}

/* -------------------HEADER---------------- */

/* ---NAVBAR------------------ */
header,main{
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 44px 120px 123px;
}
.logo{
    text-decoration: none;
    color:#25A59E;
    font-family: Gilda Display;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
}
.navbar .nav-ul{
    list-style: none;
    display: none;
    position: absolute;
    right: 2.5%;
    top: 0px;
}
.check-mark{
    display :none;
}
.nav-ul li{
    border-bottom: 2px dashed #262626;
    background-color: #25A59E;
    padding: 8px 0px;
}
.nav-ul a{
    color: #262626;
    text-decoration: none;
}
#first-icon:checked ~ .nav-ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav-icon{
    width: 28px;
    height: 23px;
    cursor: pointer;
}
.menu-btn{
    display: none;
    cursor: pointer;
}
/* -------HERO----------- */
/* section hero beginning */
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 120px;
    min-height: 900px;
}
.hero .orange-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 925px;
    height: 925px;
    border-radius: 50%;
    background-color: #EE8F39;
    z-index: 1;
    box-shadow: 0px -10px 250px #25A59E ;
}
.hero .orange-border{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    width: 1005px;
    height: 1005px;
    border-radius: 50%;
    border: 2px solid #EE8F39;
    z-index: 2;
}
.hero h1{
    width: 100%;
    position: absolute;
    top: 0px;
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 170px;
    line-height: 170px;
    text-align: center;
    color: #262626;
    z-index: 3;
}
.hero h1 span{
    color: #25A59E;
}
.hero .tourists-picture{
    max-width: 869px;
    position: absolute;
    top: 29.55%;
    z-index: 4;
}
/* end section hero----- */

/* start green-box section---- */

.green-box{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color:#25A59E;
    width: 100%;
    margin: 0px;
    min-height: 160px;
    padding: 48px 60px;
    z-index: 5;
}
.green-box .paragraph-1{
    font-family: Urbanist;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFFCC;
}
.green-box .center-paragraph{
    font-family: Gilda Display;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 28px;
    line-height: 40px;
    color: #FFFFFFCC;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

/* -----DISTINATION--------------- */
.destination{
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 100px;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.content h1{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    color: #262626;
    width: 42.08%;
}
.content p{
    font-family: Urbanist;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #595959;
    margin-top: 33px;
    margin-bottom: 24px;
}
.for-input-search{
    display: flex;
    text-align: center;
    align-items: center;
    height: 64px;
    border-radius: 100px;
    border: 1px solid #D9D9D9;
    background-color: #FAFAFA;
    position: relative;
}
.vector{
    position: relative;
    margin: 18px 12px 18px 16px;
}
.vector2{
    position: absolute;
    top: 6.05px;
    right: 6.05px;
}
.search-destination{
    width: 75%;
    padding: 20px 40px 20px 0px;
    border: none;
    background-color: #FAFAFA;
}
.search-destination::placeholder{
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    color: #A6A6A6;
    opacity: 1;
}
.search-btn{
    position: absolute;
    top: 8px;
    right: 52px;
}
.for-search-icon{
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #EE8F39;
    cursor: pointer;
}
.search-icon{
    position: absolute;
    top: 12px;
    right: 12px;
}

/* ------------cards-------------------- */
.cards{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    row-gap: 40px;
    column-gap: 44px;
}
.card{
    padding: 16px 16px 36px;
    border: 1px solid #F2F2F2;
    box-shadow: 40px 40px 90px #f2f2f2;
    transition: all 0.5s ease;
    flex-shrink: 0;
}
.card-photo{
    width: 100%;
    height: 248px;
    margin-bottom: 28px;
}
.card h2{
    margin-bottom: 8px;
}
.location{
    display: flex;
    justify-content:flex-start;
    text-align: center;
}
#toggle1,#toggle2,#toggle3,#toggle4,#toggle5,#toggle6{
    display: none;
}
.frame{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.frame label{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #25A59E;
    margin-top: 24px;
    display: none;
    opacity: 0.3;
    cursor: pointer;

}

/* ---------GUIDE-------------- */
.guide{
    margin-bottom: 100px;
}
.our-service{
    max-width: 900px;
    margin: 0px auto 60px;
}
.our-service h1{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #262626;
    margin-bottom: 24px;
}
.our-service p{
    font-family: Urbanist;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #737373;
}
.list-cards{
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-left: 120px;
    margin-right: 120px;
}
.list-card,.middle-list-card{
    width: 32%;
    padding: 40px 32px 48px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    position: relative;
    flex-shrink: 0;
}
.list-card{
    border-top: 4px solid #25A59E;
}
.list-card h1{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 40px;
    line-height: 62px;
    color: #262626;
    margin-bottom: 20px;
}
.list-card p{
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #737373;
    margin-bottom: 80px;
}
.middle-list-card{
    background-color: #25A59E;
}
.middle-list-card h1{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 40px;;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.middle-list-card p{
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 80px;
}
.more-details,.more-details-for-middle{
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    
}
.more-details a{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    color: #25A59E;
}
.more-details-for-middle a{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

/* ------CUSTOM------------ */
.custom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
.trip-memorable{
    width: 44.5%;
}
.trip-memorable h1{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    color: #262626;
    margin-top: 145.5px;
    margin-bottom: 28px;
}
.trip-memorable h1 span{
    color: #25A59E;
}
.trip-memorable p{
    font-family: Urbanist;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #595959;
    margin-bottom: 48px;
}
.trip-memorable p span{
    color: #25A59E;
}
.see-more-btn{
    font-family: Urbanist;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    width: 141px;
    height: 54px;
    padding: 16px 32px;
    border: none;
    background-color: #25A59E;
    cursor: pointer;
    margin-right: 32px;
    cursor: pointer;

}
.discover{
    font-family: Urbanist;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #333333CC;
    text-decoration: none;
    border-bottom: 1px solid #33333399;
    cursor: pointer;
}
.custom-photo-shape{
    position: relative;
    width: 54.83%;
    height: 485px;
}
.custom-photo{
    position: absolute;
    z-index: 2;
}
.shape{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* ---TRIP-DOCUMENTAITION----------- */
.trip-documentation h1{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #262626;
    margin: 100px auto 48px;
    max-width: 760px;
}
.trip-video{
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 100px;
}

/* --------FOOTER---------- */
/* -----CONTACT-US section-------- */
footer{
    margin-left: 120px;
    margin-right: 120px;
}
.contact-us{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 80px;
}
.contact-us h1{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    width: 61.916%;
}
.click-here-btn{
    font-family: Urbanist;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    width: 147px;
    height: 54px;
    padding: 16px 32px;
    border: none;
    background-color: #25A59E;
    margin: 15px 120px 36px;
    cursor: pointer;

}
/* -------contacting section------ */
.contacting {
    display: flex;
    justify-content: space-between;
}
.social-media{
    margin-top: 80px;
    margin-bottom: 100px;
    width: 21.736%;
}
.social-media h1{
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #25A59E;
    margin-bottom: 20px;
}
.social-media p{
    font-family: Urbanist;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #595959;
    margin-bottom: 48px;
}
.social-icons{
    display: flex;
    justify-content: left;
    gap: 64px;
}
.instagram{
    position: relative;
    cursor: pointer;
}
.icon1{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EAFAF9;

}
.icon1 img{
    position: absolute;
    top: 9.33px;
    right: 9.33px;
    width: 24px;
    height: 24px;
}
.twitter{
    position: relative;
    cursor: pointer;

}
.icon2{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EAFAF9;
}
.icon2 img{
    position: absolute;
    width: 19.33px;
    height: 16px;
    top: 12px;
    right: 10.64px;
}
.youtube{
    position: relative;
    cursor: pointer;

}
.icon3{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EAFAF9;
}
.icon3 img{
    position: absolute;
    width: 21.33px;
    height: 15.33px;
    top: 12.67px;
    right: 9.33px;
}
/* ----QUICK ACCESS----- */
.quick-access{
    margin-top: 147px;
    margin-bottom: 100px;
}
.arrow-icon{
    position: relative;
    cursor: pointer;
}
.arrow-up{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #8C8C8C;
    box-shadow: 5px 5px 50px #423E3A59;
}
.up-icon{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
}
.unorder-list{
    display: flex;
    justify-content: space-between;
    text-align: right;
    list-style: none;
    margin-top: 96px;
    gap: 60px;
    margin-top: 96px;
}
.unorder-list li{
    cursor: pointer;
}

/* --------MEDIA QUIREY--------------- */

@media screen and (max-width: 992px){
    /* -----NAVBAR FOR MOBILE------------ */
    .navbar{
        margin: 44px 20px 90px;
    }
    .logo{
    font-size: 16px;
    line-height: 100%;
    }
    .navbar .nav-ul{
        right: 7%;
    }
    .nav-ul li{
        padding: 4px 0px;
    }
    .nav-icon{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    /* ----HERO FOR MOBILE------ */
    .hero{
        width: 100%;
        margin: 0px;
        min-height: 540px;
    }
    .hero .orange-circle{
        top: 20%;
        width: 525px;
        height: 525px;
        box-shadow: 0px -5px 150px #25A59E ;
    }
    .hero .orange-border{
        top: 15%;
        width: 605px;
        height: 605px;
    }
    .hero h1{
        font-size: 52px;
        line-height: 100%;
        }
    .hero .tourists-picture{
        width: 432.6px;
        height: 228px;
        top: 15%;
    }
    .green-box {
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
        text-align: center;
        top: 300px;
        width: 100%;
        height: 240px;
        padding: 24px 20px;
    }
    .green-box .paragraph-1{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        }
    .green-box .center-paragraph{
        font-size: 20px;
        line-height: 32px;
        padding: 16px 0px;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        border-left: none;
        border-right: none;
        margin: 0px;
    }
    /* ---------DESTINATION FOR MOBILE---------------- */
    .destination{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 100px;
        }
    .content{
        flex-direction: column;
        margin-bottom: 28px;
        width: 100%;
        }
    .content h1{
        width: 100%;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 12px;
    }
    .content p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        }
    .cards{
        display: flex;
        overflow: hidden;
        gap: 0;
        box-shadow: 30px 50px 100px #f2f2f2;
        }
    .card{
        width: 100%;
        }
    .frame label{
        display: block;
        }
    #toggle1:checked ~ .cards .card{
        transform: translate(0px);
        }
    #toggle2:checked ~ .cards .card{
        transform: translate(-100%);
        }
    #toggle3:checked ~ .cards .card{
        transform: translate(-200%);
        }
    #toggle4:checked ~ .cards .card{
        transform: translate(-300%);
        }
    #toggle5:checked ~ .cards .card{
        transform: translate(-400%);
        }

    #toggle6:checked ~ .cards .card{
        transform: translate(-500%);
        }
    #toggle1:checked ~ .frame label[for="toggle1"],    
    #toggle2:checked ~ .frame label[for="toggle2"],    
    #toggle3:checked ~ .frame label[for="toggle3"],    
    #toggle4:checked ~ .frame label[for="toggle4"],    
    #toggle5:checked ~ .frame label[for="toggle5"],    
    #toggle6:checked ~ .frame label[for="toggle6"]{
        width: 28px;
        height: 10px;
        border-radius: 30px;
        background-color: #25A59E;
        opacity: 1;
        }
    /* -----GUIDE FOR MOBILE------------- */
    .guid{
        margin-bottom: 100px;
    }
    .our-service{
        margin-right: 20px;
        margin-left: 20px;
        }
    .our-service h1{
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 12px;
        }
    .our-service p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 28px;
        } 
    .list-cards{
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        margin-bottom: 20px;
        }
    .list-card,.middle-list-card{
        width: 100%;
        }
    .list-card h1{
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 8px;
        }
    .list-card p{
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 40px;
        }
    .middle-list-card h1{
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 8px;
        }
    .middle-list-card p{
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 40px;
        }
    .more-details a{
        font-size: 12px;
        line-height: 23px;
        margin-bottom: 20px;
        }
    .more-details-for-middle a{
        font-size: 12px;
        line-height: 23px;
        margin-bottom: 20px;
        }
    .arrow-right{
        width: 16px;
        height: 16px;
    }
    /* --------CUSTOM FOR MOBILE------------- */
    .custom{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        }
    .trip-memorable{
        width: 100%;
        }    
    .trip-memorable h1{
        font-size: 40px;
        margin-top: 0px;
        line-height: 52px;
        margin-bottom: 12px;
        }
    .trip-memorable p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 28px;
        }
    .custom-discover{
        display: none;
        }
    .custom-photo-shape{
        width: 100%;
        height: 247px;
        }
    .custom-photo{
        width: 100%;
        height: 247px;
        }
    .shape{
        width: 100%;
        height: 121px;
    }
    /*----TRIP DOCUMENTATION FOR MOBILE------  */
    .trip-documentation h1{
        width: 100%;
        margin-top: 80px;
        margin-bottom: 24px;
        font-size: 40px;
        line-height: 52px;
        }
    .trip-video{
        height: 220px;
        margin-bottom: 0px;
        }
    /* -----END MAIN------- */
    /* -------------FOOTER FOR MOBILE--------------- */
    footer{
        margin-left: 20px;
        margin-right: 20px;
    }
    .contact-us{
        flex-direction: column;
        margin-top: 40px;
    }
    .contact-us h1{
        margin-top: 0px;
        font-size: 40px;
        line-height: 52px;
    }
    .click-here-btn{
        margin: 16px 208px 0px 0px;
    }
    .contacting {
        flex-direction: column;
    }
    .social-media{
        margin: 42px 20px;
        width: 100%;
    }
    .social-media h1{
        font-size: 16px;
        margin-bottom: 12px;
    }
    .social-media p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 28px;
    }
    .quick-access{
        margin-top:0px;
        margin-bottom: 0px;
    }
    .arrow-icon{
        position: relative;
    }
    .arrow-up{
        position: absolute;
        top: -40px;
        right: 0px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #8C8C8C;
        box-shadow: 5px 5px 30px #423E3A59;
    }
    .up-icon{
        position: absolute;
        top: 8px;
        right: 8px;
        width: 20px;
        height: 20px;
    }
    .unorder-list{
        width: 100%;
        text-align: center;
        gap: 27.67px;
        margin-top: 42px;
        margin-bottom: 40px;
    }
    .unorder-list li{
        font-family: Urbanist;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
}